* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-size: 22px;
    font-family: Helvetica;
    color: seashell;
    opacity: 0.9;
    
}
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;

}

#logo {
    height: 50px;
    padding: 10px;
}

.top_menu li {
    display: inline;
    padding: 15px;
    flex-wrap: wrap;
}

.top_menu {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
}

.top_menu a {
color: seashell;
}

.top_menu a:hover {
    cursor: pointer;
    color: beige;
}

.top_menu a:active {
    color: gray;
}




/*Conteiner1*/
.containerOurMission {
    background: url(./images/img-mission-background.jpg) no-repeat;
    background-position: center;
    background-size: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 700px;
    width: 100%;
    margin-top: 69px;
    align-items: center;
}

#h21 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text1 {
    background-color: black;
    width: 90%;
}

.bc1 {
    background-color: black;
    width: 100%;
}

#h41 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    word-spacing: 3px;
    padding-top: 10px;
}

/*Conteiner2*/



#h22 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#h42 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    word-spacing: 3px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#sphoto {
    height: 200px;
    width: 300px;
}

#OMh4 {
   display: flex;
   justify-content: center;
}

.cards2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
#mphoto {
    height: 200px;
    width: 300px;
}


#tx3 {
    display: flex;
    justify-content: center;
}

/*Conteiner3*/

.containerLocations {
    background: url(./images/img-locations-background.jpg) no-repeat;
    background-position: center;
    background-size: 90%;
    min-height: 700px;
    width: 100%;
    margin-top: 20px;
}
.text5 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 60px;
    gap: 40px 40px;
    
    
}

#h23 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;

}

.text55 {
    height: 250px;
    max-width: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 250px;
}


p {
    font-size: 15px;
}

/*Container4*/

.containerTheTeaCozy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


h5 {
    line-height: 50px;
}
footer {
    text-align: left;
    padding: 20px;
}